<div class="grid-row">
    <div class="grid-half">
        <p class="core-12">Core-XSmall</p>
        <p class="core-16">Core-Small</p>
        <p class="core-18">Core-Medium</p>
        <p class="core-24">Core-Large</p>
        <p class="core-36">Core-XLarge</p>
        <p class="bold-12">Bold-XSmall</p>
        <p class="bold-16">Bold-Small</p>
        <p class="bold-18">Bold-Medium</p>
        <p class="bold-24">Bold-Large</p>
        <p class="bold-36">Bold-XLarge</p>
    </div>
    <div class="grid-quarter">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>

        <a href="#">Link</a>
    </div>
    <div class="grid-quarter">
        <p>Paragraph</p>
        <span>Span</span>

        <ul>
            Unordered List
            <li>List item</li>
        </ul>

        <ol>
            Ordered List
            <li>List item</li>
        </ol>
    </div>
</div>
<div class="grid-row">
    <div class="grid-third"><h2>third</h2></div>
    <div class="grid-third"><h2>third</h2></div>
    <div class="grid-third"><h2>third</h2></div>
</div>
